<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sitycase">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="СитиК"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SityCase">

        <activity
            android:name=".AfActivity"
            android:exported="false" />
        <activity
            android:name=".MuActivity"
            android:exported="false" />
        <activity
            android:name=".ViActivity"
            android:exported="false" />
        <activity
            android:name=".FoActivity"
            android:exported="false" />
        <activity
            android:name=".UsActivity"
            android:exported="false" />
        <activity
            android:name=".ToActivity"
            android:exported="false" />
        <activity
            android:name=".RaActivity"
            android:exported="false" />
        <activity
            android:name=".PeActivity"
            android:exported="false" />
        <activity
            android:name=".KaActivity"
            android:exported="false" />
        <activity
            android:name=".PgActivity"
            android:exported="false" />
        <activity
            android:name=".IsActivity"
            android:exported="false" />

        <activity
            android:name=".ObActivity"
            android:exported="false" />
        <activity
            android:name=".PiActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SlActivity"
            android:exported="false" />
        <activity
            android:name=".PoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>